div {
  margin: auto;
  width: 60%;
}

h1 {
  font-size: 30px;
}

body {
  font-family: 'Roboto', sans-serif;
}

#header_container {
  padding: 10px;
  position: relative;
  text-align: center;
}


#search_bar {
  text-align: center;
}

input[type=text] {
  width: 50%;
  padding: 10px, 10px;
  border: 1px solid;
  border-radius: 3px;
}
